<html ng-app="firstApp">
	<head>
		<title>CRUD in AngularJS + ExpressJS</title>
		<link href="../_assets/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<p>This is view of CRUD controllers</p>
		<ng-view></ng-view>

		<!-- Libraries -->
		<script src="../_assets/lib/angular.min.js" type="text/javascript" ></script>
		<script src="../_assets/lib/angular-route.min.js" type="text/javascript" ></script>
		<script src="../_assets/lib/angular-resource.min.js" type="text/javascript" ></script>
		
		<!-- Routing -->
		<script src="../crud/js/route.js" type="text/javascript" ></script>
		
		<script type="text/javascript" src="../_assets/lib/lodash.compat.min.js"></script>
		<script type="text/javascript" src="../_assets/lib/restangular.min.js"></script>
		
		
		<!-- Controllers -->
		<script src="../crud/js/controllers/defaultCtrl.js" type="text/javascript" ></script>
		<script src="../crud/js/controllers/oneCtrl.js" type="text/javascript" ></script>
		<script src="../crud/js/controllers/twoCtrl.js" type="text/javascript" ></script>
		<script src="../crud/js/controllers/crudCtrl.js" type="text/javascript" ></script>
		<script src="../crud/js/controllers/threeCtrl.js" type="text/javascript" ></script>
	
		<!-- Services -->
		<script src="../crud/js/services/defaultSvc.js" type="text/javascript" ></script>
		<script src="../crud/js/services/oneSvc.js" type="text/javascript" ></script>
		<script src="../crud/js/services/twoSvc.js" type="text/javascript" ></script>
		<script src="../crud/js/services/crudSvc.js" type="text/javascript" ></script>
		<script src="../crud/js/services/threeSvc.js" type="text/javascript" ></script>
		
	</body>
</html>